* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    background-color: orange;
    height: 70px;

}

.links {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 30px;
}

.categories {
    align-items: center;
    display: flex;
    gap: 10px;
    color: white;
}

.icons {
    align-items: center;
    display: flex;
    gap: 10px;
    color: white;
    margin-right: 30px;
}

.logo {
    height: 50px;
    padding: 10px;
    
}

.boolean-logo {
    display: flex;
    margin-right: 70px;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
 
}

section {
    width: 80%;
    margin: 0 auto;
}

.card {
    width: calc(100% / 3 - (40px / 3));
    position: relative;
}

.discount-label {
padding: 5px;
background-color: red;
color: white;
position: absolute;
bottom: 35px;
left: 0;
}

.eco-label {
    padding: 5px;
background-color: green;
color: white;
position: absolute;
bottom: 35px;
left: 60px;
margin-left: -10px;
}

img {
    max-width: 100%;
}



















/*DEBUG*/

